.main1{
    background-color: darkseagreen;
    padding: 20px;
    text-align: center;
}

.main2{
    line-height:200%;
    text-align: center;
    padding:30px;
   }

.main_c{
    text-align: center;
    line-height:100%;
}

.lid_error{
    color: red;  
    font-size: 22px;
    font-weight:bold;   
}

.gr{
    display: flex;
    flex-direction: row
}

.gr_1{
   color: rgb(58, 95, 205);  
   font-size: 22px;
   font-weight:bold;
}

h2{
    padding-left: 60px;
    flex-grow: 1;
}

.date{
    color: blue;
}
